.div_menu {
  background-color: black;
  color: white;
}

.menu {
  color: white;
}

.slider-div {
  text-align: center;
  margin-top: 10px;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
}
